In [1]:
import numpy as np
import pandas as pd
from pandas.io.html import read_html
from sklearn.cluster import KMeans
import folium
import requests
from unidecode import unidecode
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
# scrab the districts data:

page = 'https://www.citypopulation.de/php/egypt-greatercairo.php'
dfs = read_html(page, match='Name', header=0) # a list of dataframes
dfs = dfs[0]#getting the dataframe frm the list
dfs.head()

,Name,Native,Status,Governorate,PopulationCensus1996-11-19,PopulationCensus2006-11-11,PopulationEstimate2018-07-01,Unnamed: 7
0,15 Māyū [15th of May City],قسم 15 مايو,Kism (fully urban),Al-Qāhirah,65560,90740,95313,→
1,'Ābidīn,قسم عابدين,Kism (fully urban),Al-Qāhirah,48704,42223,41076,→
2,Ad-Darb al-Aḥmar,قسم الدرب الأحمر,Kism (fully urban),Al-Qāhirah,78375,60488,59578,→
3,Ad-Duqqī,قسم الدقي,Kism (fully urban),Al-Jīzah,...,83430,72304,→
4,'Ain Schams,قسم عين شمس,Kism (fully urban),Al-Qāhirah,469030,525034,625848,→

In [3]:
dfs.tail()

,Name,Native,Status,Governorate,PopulationCensus1996-11-19,PopulationCensus2006-11-11,PopulationEstimate2018-07-01,Unnamed: 7
70,Shubrā,قسم شبرا,Kism (fully urban),Al-Qāhirah,83753,71118,78128,→
71,Shubrā al-Khaymah 1 [Shubra el-Kheima],قسم أول شبرا الخيمة,Kism (fully urban),Al-Qalyūbyah,416812,461689,492825,→
72,Shubrā al-Khaymah 2 [Shubra el-Kheima],قسم ثان شبرا الخيمة,Kism (fully urban),Al-Qalyūbyah,453963,563880,694922,→
73,Ṭurah [Tura],قسم طره,Kism (fully urban),Al-Qāhirah,67270,94107,234559,→
74,Al-Qāhirah al-Kubrā [Greater Cairo],القاهرة الكبرى,Metropolitan Area,NaN,12600000,15628325,20577113,NaN

In [6]:
## getting the area of each district:
driver = webdriver.Firefox()
driver.get('https://www.citypopulation.de/php/egypt-greatercairo.php')
elem = driver.find_elements_by_xpath("//td[@data-area]")
dfs['Area'] = '0'
for i in range(len(dfs.Area)-1):
    dfs.at[i, 'Area'] = elem[i].get_attribute('data-area')

driver.close()
dfs.head()

,Name,Native,Status,Governorate,PopulationCensus1996-11-19,PopulationCensus2006-11-11,PopulationEstimate2018-07-01,Unnamed: 7,Area
0,15 Māyū [15th of May City],قسم 15 مايو,Kism (fully urban),Al-Qāhirah,65560,90740,95313,→,75.99
1,'Ābidīn,قسم عابدين,Kism (fully urban),Al-Qāhirah,48704,42223,41076,→,1.72
2,Ad-Darb al-Aḥmar,قسم الدرب الأحمر,Kism (fully urban),Al-Qāhirah,78375,60488,59578,→,1.87
3,Ad-Duqqī,قسم الدقي,Kism (fully urban),Al-Jīzah,...,83430,72304,→,5.46
4,'Ain Schams,قسم عين شمس,Kism (fully urban),Al-Qāhirah,469030,525034,625848,→,8.32

In [7]:
# the last row is the summation of the population of all the districts, i will drop it:
dfs.dropna(inplace=True)
df = dfs.copy()
# I will also replace non ascii characters with ascii:
df['Name'] = df.Name.apply(unidecode)
df['Governorate'] = df.Governorate.apply(unidecode)
df.head(10)

,Name,Native,Status,Governorate,PopulationCensus1996-11-19,PopulationCensus2006-11-11,PopulationEstimate2018-07-01,Unnamed: 7,Area
0,15 Mayu [15th of May City],قسم 15 مايو,Kism (fully urban),Al-Qahirah,65560,90740,95313,→,75.99
1,'Abidin,قسم عابدين,Kism (fully urban),Al-Qahirah,48704,42223,41076,→,1.72
2,Ad-Darb al-Ahmar,قسم الدرب الأحمر,Kism (fully urban),Al-Qahirah,78375,60488,59578,→,1.87
3,Ad-Duqqi,قسم الدقي,Kism (fully urban),Al-Jizah,...,83430,72304,→,5.46
4,'Ain Schams,قسم عين شمس,Kism (fully urban),Al-Qahirah,469030,525034,625848,→,8.32
5,Al-Ahram,قسم الأهرام,Kism (fully urban),Al-Jizah,...,...,672064,→,17.96
6,Al-'Ajuzah,قسم العجوزة,Kism (fully urban),Al-Jizah,...,258511,283876,→,7.35
7,Al-Amiriiah,قسم الاميريه,Kism (fully urban),Al-Qahirah,164211,165407,155402,→,3.8
8,Al-Azbakiyah [Azbakeya],قسم الأزبكية,Kism (fully urban),Al-Qahirah,30375,28033,20132,→,1.33
9,Al-Badrashayn [Badrshein],مركز البدرشين,Markaz,Al-Jizah,285858,383610,551894,→,135.1

In [8]:
df['Governorate'].unique()

array(['Al-Qahirah', 'Al-Jizah', 'Al-Qalyubyah', 'Ash-Sharqiyah'],
      dtype=object)

In [9]:
# convert governorate names to the formal names: AlQahira: Cairo - Jizah: Giza
for i, gov in enumerate(df.Governorate.values):
    if gov == 'Al-Qahirah':
        df.at[i, 'Governorate'] = 'Cairo'
        
    elif gov == 'Al-Jizah':
        df.at[i, 'Governorate'] = 'Giza'
        
df.head()

,Name,Native,Status,Governorate,PopulationCensus1996-11-19,PopulationCensus2006-11-11,PopulationEstimate2018-07-01,Unnamed: 7,Area
0,15 Mayu [15th of May City],قسم 15 مايو,Kism (fully urban),Cairo,65560,90740,95313,→,75.99
1,'Abidin,قسم عابدين,Kism (fully urban),Cairo,48704,42223,41076,→,1.72
2,Ad-Darb al-Ahmar,قسم الدرب الأحمر,Kism (fully urban),Cairo,78375,60488,59578,→,1.87
3,Ad-Duqqi,قسم الدقي,Kism (fully urban),Giza,...,83430,72304,→,5.46
4,'Ain Schams,قسم عين شمس,Kism (fully urban),Cairo,469030,525034,625848,→,8.32

In [10]:
# The [] brackets and the text inside is a repetition, they should be removed. 
# Also still there is a ' at the start of some district names that should be removed. it is already omitted in the second repetition

d = df[['Name', 'Governorate', 'Area', 'PopulationEstimate2018-07-01']]
names = d['Name'].str.split('[')

for i, x in enumerate(names):  
    if len(x) == 2:
        names[i] = x[1].lstrip('[').rstrip(']')
    else:
        names[i] = x[0].lstrip('[\' ').rstrip(']')

d['Name'] = names
d.head(10)

/home/ingramai/.local/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

               Name Governorate   Area  PopulationEstimate2018-07-01
0  15th of May City       Cairo  75.99                         95313
1            Abidin       Cairo   1.72                         41076
2  Ad-Darb al-Ahmar       Cairo   1.87                         59578
3          Ad-Duqqi        Giza   5.46                         72304
4        Ain Schams       Cairo   8.32                        625848
5          Al-Ahram        Giza  17.96                        672064
6        Al-'Ajuzah        Giza   7.35                        283876
7       Al-Amiriiah       Cairo    3.8                        155402
8          Azbakeya       Cairo   1.33                         20132
9         Badrshein        Giza  135.1                        551894

In [16]:
# select columns of interest and make a full address column to use for getting location data
d['Address'] = d['Name'].str.cat(df['Governorate'], sep=',')
d = d[['Address', 'PopulationEstimate2018-07-01']]
d.head()

/home/ingramai/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                  Address  PopulationEstimate2018-07-01
0  15th of May City,Cairo                         95313
1            Abidin,Cairo                         41076
2  Ad-Darb al-Ahmar,Cairo                         59578
3           Ad-Duqqi,Giza                         72304
4        Ain Schams,Cairo                        625848

In [ ]:
# loop on the districts to get their location data, and determine those which are not recognized by the geocoding engine if any
latlong = {}
for add in d.Address.values:
    
    url = 'https://us1.locationiq.com/v1/search.php?key=1463232716cb66&q={}&countrycodes=EG&format=json'.format(add)
    results = requests.get(url)    
    try:
        latlong[add] = [results.json()[0]['lat'], results.json()[0]['lon']]
    except:
        latlong[add] = ['NaN', 'NaN']

In [19]:
latlongg = pd.DataFrame.from_dict(latlong, 'index', columns=['Latitude', 'Longitude']).reset_index()
latlongg.head(10)

                    index    Latitude   Longitude
0  15th of May City,Cairo  29.8320418  31.3647679
1            Abidin,Cairo    30.50473    31.25247
2  Ad-Darb al-Ahmar,Cairo   30.043259   31.257908
3           Ad-Duqqi,Giza         NaN         NaN
4        Ain Schams,Cairo   30.128183   31.333451
5              Ahram,Giza  30.0030274  31.1909308
6            'Ajuzah,Giza    30.05061    31.21091
7          Amiriiah,Cairo    30.06263    31.24967
8          Azbakeya,Cairo  30.0538891  31.2454725
9          Badrshein,Giza         NaN         NaN

In [20]:
latlongg[latlongg['Latitude'] == 'NaN']['index']

3        Ad-Duqqi,Giza
9       Badrshein,Giza
32    Ash-Shuruq,Cairo
33      As-Sahil,Cairo
37     At-Talbiah,Giza
39          Ossim,Giza
Name: index, dtype: object

In [21]:
for gov in df['Governorate'].unique():
    print('*****', gov, '*****', d[df['Governorate'] == gov].describe())

***** Cairo *****        PopulationEstimate2018-07-01
count                     46.000000
mean                  211246.173913
std                   201763.779003
min                    10760.000000
25%                    73255.250000
50%                   138594.500000
75%                   272100.000000
max                   813529.000000
***** Giza *****        PopulationEstimate2018-07-01
count                     17.000000
mean                  408616.647059
std                   247961.531693
min                    72304.000000
25%                   200170.000000
50%                   377547.000000
75%                   551894.000000
max                   978626.000000
***** Al-Qalyubyah *****        PopulationEstimate2018-07-01
count                      9.000000
mean                  409594.777778
std                   227184.236397
min                    78185.000000
25%                   149737.000000
50%                   492825.000000
75%                   570192.000000
max                   694922.000000
***** Ash-Sharqiyah *****        PopulationEstimate2018-07-01
count                      2.000000
mean                  113476.500000
std                    52005.582436
min                    76703.000000
25%                    95089.750000
50%                   113476.500000
75%                   131863.250000
max                   150250.000000

In [35]:
# I will try removing the letters that are not needed for naming (this is a property for arabic names like: AL - Ash .. etc)
for x in ['Al-', 'Ad-', 'Ash-', 'At-']:
    latlongg['index'] = latlongg['index'].str.replace(x, '')
    
latlongg[latlongg['Latitude'] == 'NaN']['index']

3         Duqqi,Giza
9     Badrshein,Giza
32      Shuruq,Cairo
33    As-Sahil,Cairo
37      Talbiah,Giza
39        Ossim,Giza
67      Talbiah,Giza
Name: index, dtype: object

In [40]:
#lets try to geth the location data of these districts again

for add in latlongg[latlongg['Latitude'] == 'NaN']['index'].values:
    print(add)
    url = 'https://us1.locationiq.com/v1/search.php?key=1463232716cb66&q={}&countrycodes=EG&format=json'.format(add)
    results = requests.get(url)    
    try:
        latlongg[latlongg['index'] == add]['Latitude'] = results.json()[0]['lat']
        latlongg[latlongg['index'] == add]['Longitude'] = results.json()[0]['lon']
    except:
        latlongg[latlongg['index'] == add]['Latitude'] = 'NaN'
        latlongg[latlongg['index'] == add]['Longitude'] = 'NaN'

Duqqi,Giza

/home/ingramai/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ingramai/.local/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Badrshein,Giza

/home/ingramai/.local/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/ingramai/.local/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

Shuruq,Cairo
As-Sahil,Cairo
Talbiah,Giza
Ossim,Giza
Talbiah,Giza

In [41]:
latlongg[latlongg['Latitude'] == 'NaN']['index']

3         Duqqi,Giza
9     Badrshein,Giza
32      Shuruq,Cairo
33    As-Sahil,Cairo
37      Talbiah,Giza
39        Ossim,Giza
67      Talbiah,Giza
Name: index, dtype: object

In [45]:
# This did not work also, so i will just discard these districts as they are not in the database of the geocoder

# I will combine the 2 data frames into one
dd = latlongg.join(d.set_index('Address'), 'index')
dd.dropna()
dd.head()

,index,Latitude,Longitude,PopulationEstimate2018-07-01
0,"15th of May City,Cairo",29.8320418,31.3647679,95313
1,"Abidin,Cairo",30.50473,31.25247,41076
2,"Darb al-Ahmar,Cairo",30.043259,31.257908,59578
3,"Duqqi,Giza",NaN,NaN,72304
4,"Ain Schams,Cairo",30.128183,31.333451,625848

In [50]:
len(dd['index'].unique())

65

In [52]:
dd.drop_duplicates('index')

,index,Latitude,Longitude,PopulationEstimate2018-07-01
0,"15th of May City,Cairo",29.8320418,31.3647679,95313
1,"Abidin,Cairo",30.50473,31.25247,41076
2,"Darb al-Ahmar,Cairo",30.043259,31.257908,59578
3,"Duqqi,Giza",NaN,NaN,72304
4,"Ain Schams,Cairo",30.128183,31.333451,625848
5,"Ahram,Giza",30.0030274,31.1909308,672064
6,"'Ajuzah,Giza",30.05061,31.21091,283876
7,"Amiriiah,Cairo",30.06263,31.24967,155402
8,"Azbakeya,Cairo",30.0538891,31.2454725,20132
9,"Badrshein,Giza",NaN,NaN,551894
10,"Basatin,Cairo",29.9817698,31.2677778,504659
11,"Hawamidiyah,Giza",29.9,31.25,194970
12,"Jamaliyah,Cairo",31.18086,31.86518,37045
13,"Giza,Giza",30.0170059,31.2134513,291265
14,"Khalifah,Cairo",30.06263,31.24967,107197
15,"Khankah,Qalyubyah",30.21035,31.36812,78185
16,"Khusus,Qalyubyah",30.15293,31.31501,468194
17,"Maadi,Cairo",29.9598395,31.2580736,90231
18,"El Marg,Cairo",30.152778,31.338333,813529
19,"Ma'sarah,Cairo",31.29918,31.27883,275071
20,"Matariyyah,Cairo",30.06263,31.24967,613709
21,"Muqattam,Cairo",30.033333,31.283333,228316
22,"Muski,Cairo",30.0484246,31.2575988,16973
23,"New Cairo,Cairo",30.048819,31.243666,138363
24,"Qanatir al-Khayriyah,Qalyubyah",30.250985,31.143709,515476
25,"El Ubour,Qalyubyah",27.39417,33.67825,133102
26,"'Umraniyah,Giza",30.00808,31.21093,373155
27,"Warraq,Giza",30.103889,31.209167,738974
28,"Wayli,Cairo",30.06671,31.2761,80774
29,"An-Nuzhah,Cairo",30.048819,31.243666,235557
...,...,...,...,...
35,"As-Salam 2,Cairo",30.170658,31.420465,156633
36,"As-Sayyidah Zaynab,Cairo",30.0164915,31.2549729275768,138826
37,"Talbiah,Giza",NaN,NaN,466543
38,"Tibbin,Cairo",30.06263,31.24967,73385
39,"Ossim,Giza",NaN,NaN,393027
40,"Az-Zahir,Cairo",30.067133,31.268014,73212
41,"Zamalek,Cairo",30.0649721,31.2195945,15225
42,"Az-Zawiyah al-Hamra',Cairo",30.100992,31.269487,324107
43,"Zeitoun,Cairo",30.1068218,31.3093723,177431
44,"Bab ash-Sha'riyah,Cairo",30.060068,31.259136,47541
45,"Bulaq,Cairo",30.0626184,31.2278724791955,49046
46,"Bulaq al-Dakrur,Giza",30.040278,31.184722,978626
47,"Dar as-Salam,Cairo",26.229621,32.05045,535426
48,"Hada'iq al-Qubbah,Cairo",30.0821784,31.2825387,321968
49,"Helwan,Cairo",29.8500001,31.333333,530967
50,"Imbaba,Giza",30.088512,31.215927,644840
51,"Kirdasah,Giza",30.031667,31.111944,459325
52,"Nasr City,Cairo",30.0521177,31.3422045,646634
53,"10th of Ramadan City,Sharqiyah",30.835407,31.918276,76703
54,"Madinat Badr,Cairo",30.09613,31.65539,31877
55,"6th of October City,Giza",29.9723458,30.9409205,200170
56,"Heliopolis,Cairo",30.1006426,31.3325113,136619
57,"Old Cairo,Cairo",30.0174001,31.2331964,254980
58,"Manshiyat Naser,Cairo",29.177245,31.121319,263187
59,"Qalyub,Qalyubyah",30.17922,31.2056,149737
60,"Qasr an-Nil,Cairo",30.0467903,31.2361614,10760
61,"Rod El Farag,Cairo",30.0805703,31.2454264,148353
62,"Shubra,Cairo",30.079521,31.2452915,78128
63,"Shubra el-Kheima,Qalyubyah",30.141718,31.280198,492825
64,"Tura,Cairo",29.930056,31.265834,234559

### Getting restuarants of each district using Foursqua APIs

In [53]:
CLIENT_ID = 'MWFD5ILZQJ3254JQYSXS2HDV4A0ENLR01KH5G0E0CO4UIF5R'
CLIENT_SECRET = 'E4J44JBKVOTPVE5LVCM4ARTYAINR3IBQLA4WV2GXDWPU0ZPZ'
VERSION = '20180605' # Foursquare API version
LIMIT = 500 #get the top 100 venues in each neighbourhood

In [1]:
from selenium.webdriver.firefox.firefox_binary import FirefoxBinary
from selenium import webdriver

capabilities = webdriver.DesiredCapabilities().FIREFOX
capabilities["marionette"] = True
binary = FirefoxBinary('/usr/local/bin/geckodriver')
driver = webdriver.Firefox(firefox_binary=binary, capabilities=capabilities, executable_path="/usr/local/bin/geckodriver")
driver.get("http://www.google.com")

SessionNotCreatedException: Message: Unable to find a matching set of capabilities

In [13]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [3]:
driver = webdriver.Firefox()
driver.get('https://www.citypopulation.de/php/egypt-greatercairo.php')

In [17]:
elem = driver.find_element_by_partial_link_text('15 Māyū')
elem

In [18]:
elem.send_keys(Keys.RETURN)

In [32]:
elem2 = driver.find_elements_by_xpath("//td[@data-area]")

In [42]:
elem2[2].get_attribute('data-area')

'1.87'